.list-books-article section {
    border: solid 3px black;
    padding: 1%;
    border-radius: 25px;
    margin: 1%;
    max-width: 50%;
    text-align: center; 
}

.checkbox {
    display: inline;
}

.labelTxt {
    display: inline;
}